option_settings:
    aws:elasticbeanstalk:application:environment:
      NODE_ENV: 'production'
      CART: 'http://handleman-cart-api-develop.eu-west-1.elasticbeanstalk.com/api'
      PRODUCT: 'https://3rci1wrpaf.execute-api.eu-west-1.amazonaws.com/dev'
      IMPORT: 'https://1wvsccm6f0.execute-api.eu-west-1.amazonaws.com/dev'